@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35vh;
}

.title {
  margin: 1vh;
  font-size: 4vh;
}

.userNameForm {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}

.userNameForm button {
  border-style: none;
  background-color: #fff;
  border-bottom: gray solid 1px;
}

.userNameInput {
  border-style: none;
  height: 30px;
  width: 250px;
  border-bottom: gray solid 1px;
  text-align: center;
}

.userNameInput:focus {
  outline: none;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid gray;
  border-radius: 10px;
  transition: flex 5s;
  margin-bottom: 10px;
  transition: height 3s, width 5s;
  align-self: center;
  animation: fade-in 2s;
  overflow: hidden;
}

.imageTextHolder {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  align-items: center;
}

.imageTextHolder img {
  border-radius: 50px;
  margin-right: 10px;
}

.imageTextHolder h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2.5vh;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.Card {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin: 5px;
  /* border: 1px solid #ffd700; */
  border-radius: 10px;
  transition: flex 2s;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.contentHeader {
  width: 100%;
  height: auto;
}

.contentHeader h3 {
  opacity: 0;
  transition: opacity 4s;
  height: 100%;
}

.informationContent {
  width: 100%;
  height: 90%;
  display: flex;
  opacity: 0;
  transition: opacity 1s;
  justify-content: space-evenly;
  align-items: center;
}

.informationContent button {
  border-style: none;
  background-color: #fff;
}

.miniCardContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.miniCard {
  width: 90%;
  padding: 0;
  flex: 1;
  justify-content: center;
  transition: transform 1s;
  /* border-color: purple; */
  border: 1px purple solid;
}

.slider {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  /* margin-top: 10%; */
  margin-bottom: 20%;
  scroll-snap-align: start;
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.buttonContainer {
  border: 1px solid #000;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

.buttonContainer a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 0px) {
  .panel,
  .imageTextHolder {
    width: 93vw;
    height: 10vh;
  }

  .expanded {
    width: 98vw;
    height: 100vh;
    transition: height 3s, width 3s;
  }

  .imageTextHolder img {
    height: 8vh;
  }

  .contentContainer {
    height: calc(100vh - 10vh);
  }

  .contentHeader h3 {
    margin: 0.5vh;
    font-size: 3vh;
  }
}

@media (min-width: 480px) {
  .panel,
  .imageTextHolder {
    width: 90vw;
    height: 9vh;
  }

  .expanded {
    width: 93vw;
    height: 93vh;
  }

  .imageTextHolder img {
    height: 7vh;
  }

  .contentContainer {
    height: calc(93vh - 9vh);
  }
}

@media (min-width: 700px) {
  .panel,
  .imageTextHolder {
    width: 80vw;
    height: 9vh;
  }

  .expanded {
    width: 91vw;
    height: 91vh;
  }

  .contentContainer {
    height: calc(91vh - 9vh);
  }
}

@media (min-width: 1024px) {
  .panel,
  .imageTextHolder {
    width: 75vw;
    height: 9vh;
  }

  .expanded {
    width: 90vw;
    height: 90vh;
  }

  .contentContainer {
    height: calc(90vh - 9vh);
  }
}

@media (min-width: 1280px) {
  .panel,
  .imageTextHolder {
    width: 50vw;
    height: 9vh;
  }

  .expanded {
    width: 70vw;
    height: 85vh;
  }

  .contentContainer {
    height: calc(85vh - 9vh);
  }
}

@media (min-width: 1920px) {
  .panel,
  .imageTextHolder {
    width: 40vw;
    height: 8.5vh;
  }

  .expanded {
    width: 50vw;
    height: 80vh;
  }

  .contentContainer {
    height: calc(80vh - 8.5vh);
  }
}

.expanded .contentContainer {
  display: flex;
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s, visibility 0s;
}

.expanded .contentContainer .Card .contentHeader h3 {
  opacity: 1;
  transition: opacity 4s;
}

.panel .contentContainer {
  opacity: 0;
  transition: opacity 1.5s;
}

.expanded .contentContainer,
.visible {
  opacity: 1;
  transition: opacity 1s;
}

.trulyCollapse,
.trulyCollapse img,
.trulyCollapse h2 {
  margin: 0;
  opacity: 0;
  height: 0;
  width: 0;
  transition: height 1s, width 1s, opacity 2s, margin 2s;
}

.active {
  flex: 5;
}

.inactive {
  flex: 0.5;
}
